.net here https://dotnet.microsoft.com/en-us/download/dotnet-framework/thank-you/net48-web-installer

download season 7 here https://cdn.blksservers.com/7.40.rar

download winrar https://www.win-rar.com/download.html?&L=0